In [ ]:
!git clone https://github.com/7ieon/bigData

Cloning into 'bigData'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 13 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (13/13), done.

11.15

top10 구하기

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/bigData/boston.csv')

In [ ]:
print(data.head())

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [ ]:
print(data.sort_values('MEDV',ascending=True))

         CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  \
398  38.35180   0.0  18.10     0  0.693    NaN  100.0  1.4896   24  666
405  67.92080   0.0  18.10     0  0.693  5.683  100.0  1.4254   24  666
400  25.04610   0.0  18.10     0  0.693  5.987  100.0  1.5888   24  666
399   9.91655   0.0  18.10     0  0.693  5.852   77.8  1.5004   24  666
414  45.74610   0.0  18.10     0  0.693  4.519  100.0  1.6582   24  666
..        ...   ...    ...   ...    ...    ...    ...     ...  ...  ...
166   2.01019   0.0  19.58     0  0.605  7.929   96.2  2.0459    5  403
195   0.01381  80.0   0.46     0  0.422  7.875   32.0  5.6484    4  255
283   0.01501  90.0   1.21     1  0.401  7.923   24.8  5.8850    1  198
225   0.52693   0.0   6.20     0  0.504  8.725   83.0  2.8944    8  307
186   0.05602   0.0   2.46     0  0.488  7.831   53.6  3.1992    3  193

     PTRATIO       B  LSTAT  MEDV
398     20.2  396.90  30.59   5.0
405     20.2  384.97  22.98   5.0
400     20.2  396.90  26.77   5.6
399     20.2  338.16  29.97   6.3
414     20.2   88.27  36.98   7.0
..       ...     ...    ...   ...
166     14.7  369.30   3.70  50.0
195     14.4  394.23   2.97  50.0
283     13.6  395.52   3.16  50.0
225     17.4  382.00   4.63  50.0
186     17.8  392.63   4.45  50.0

[506 rows x 14 columns]

In [ ]:
print(data.sort_values('MEDV',ascending=True)['MEDV'])

398     5.0
405     5.0
400     5.6
399     6.3
414     7.0
       ...
166    50.0
195    50.0
283    50.0
225    50.0
186    50.0
Name: MEDV, Length: 506, dtype: float64

In [ ]:
print(data.sort_values('MEDV',ascending=True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

결측치 확인하기

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/bigData/boston.csv')

In [ ]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       491 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [ ]:
print(data.isnull().sum())

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM         15
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV        0
dtype: int64

In [ ]:
data_describe = data.describe()

In [ ]:
print(data_describe['RM']['mean'])

6.285101832993889

In [ ]:
data_mean = data['RM'].copy()

In [ ]:
print(data_mean.isnull().sum())

15

In [ ]:
rm_mean = data_mean.mean()

In [ ]:
print(rm_mean)

6.285101832993889

In [ ]:
print(data_mean.fillna(rm_mean,inplace=True))

None

In [ ]:
print(data_mean.isnull().sum())

0

In [ ]:
data_del = data['RM'].copy()

In [ ]:
data_del.dropna(inplace=True)

In [ ]:
print(data_del.isnull().sum())

0

In [ ]:
print(data_mean.std(),data_del.std())

0.6975001826300912 0.7080957287241957

In [ ]:
print(abs(data_mean.std()-data_del.std()))

0.010595546094104513

이상값 확인하기

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/bigData/boston.csv')

In [ ]:
print(data['ZN'])

0      18.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
501     0.0
502     0.0
503     0.0
504     0.0
505     0.0
Name: ZN, Length: 506, dtype: float64

In [ ]:
ZN_describe = data['ZN'].describe()

In [ ]:
print(ZN_describe)

count    506.000000
mean      11.363636
std       23.322453
min        0.000000
25%        0.000000
50%        0.000000
75%       12.500000
max      100.000000
Name: ZN, dtype: float64

In [ ]:
print(data['ZN'][data['ZN']>ZN_describe['mean']+(ZN_describe['std']*1.5)].sum())

3462.5

In [ ]:
print(data['ZN'][data['ZN']<ZN_describe['mean']-(ZN_describe['std']*1.5)].sum())

0.0

11.16(331p)

사분위수 구하기

In [1]:
!git clone https://github.com/7ieon/bigData

Cloning into 'bigData'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 13 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (13/13), done.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/bigData/boston.csv')

In [4]:
print(data)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573    NaN  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     PTRATIO       B  LSTAT  MEDV
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [9]:
data.drop(columns='CHAS',inplace=True)

In [10]:
print(data.head())

      CRIM    ZN  INDUS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [12]:
data.drop(columns='RAD',inplace=True)

In [13]:
print(data.head())

      CRIM    ZN  INDUS    NOX     RM   AGE     DIS  TAX  PTRATIO       B  \
0  0.00632  18.0   2.31  0.538  6.575  65.2  4.0900  296     15.3  396.90
1  0.02731   0.0   7.07  0.469  6.421  78.9  4.9671  242     17.8  396.90
2  0.02729   0.0   7.07  0.469  7.185  61.1  4.9671  242     17.8  392.83
3  0.03237   0.0   2.18  0.458  6.998  45.8  6.0622  222     18.7  394.63
4  0.06905   0.0   2.18  0.458  7.147  54.2  6.0622  222     18.7  396.90

   LSTAT  MEDV
0   4.98  24.0
1   9.14  21.6
2   4.03  34.7
3   2.94  33.4
4   5.33  36.2

In [18]:
data_describe = data.describe()

In [19]:
print(data_describe)

             CRIM          ZN       INDUS         NOX          RM         AGE  \
count  506.000000  506.000000  506.000000  506.000000  491.000000  506.000000
mean     3.613524   11.363636   11.136779    0.554695    6.285102   68.574901
std      8.601545   23.322453    6.860353    0.115878    0.708096   28.148861
min      0.006320    0.000000    0.460000    0.385000    3.561000    2.900000
25%      0.082045    0.000000    5.190000    0.449000    5.886000   45.025000
50%      0.256510    0.000000    9.690000    0.538000    6.209000   77.500000
75%      3.677083   12.500000   18.100000    0.624000    6.622000   94.075000
max     88.976200  100.000000   27.740000    0.871000    8.780000  100.000000

              DIS         TAX     PTRATIO           B       LSTAT        MEDV
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     3.795043  408.237154   18.455534  356.674032   12.653063   22.532806
std      2.105710  168.537116    2.164946   91.294864    7.141062    9.197104
min      1.129600  187.000000   12.600000    0.320000    1.730000    5.000000
25%      2.100175  279.000000   17.400000  375.377500    6.950000   17.025000
50%      3.207450  330.000000   19.050000  391.440000   11.360000   21.200000
75%      5.188425  666.000000   20.200000  396.225000   16.955000   25.000000
max     12.126500  711.000000   22.000000  396.900000   37.970000   50.000000

In [26]:
data_describe_T = data_describe.T

In [27]:
print(data_describe_T)

         count        mean         std        min         25%        50%  \
CRIM     506.0    3.613524    8.601545    0.00632    0.082045    0.25651
ZN       506.0   11.363636   23.322453    0.00000    0.000000    0.00000
INDUS    506.0   11.136779    6.860353    0.46000    5.190000    9.69000
NOX      506.0    0.554695    0.115878    0.38500    0.449000    0.53800
RM       491.0    6.285102    0.708096    3.56100    5.886000    6.20900
AGE      506.0   68.574901   28.148861    2.90000   45.025000   77.50000
DIS      506.0    3.795043    2.105710    1.12960    2.100175    3.20745
TAX      506.0  408.237154  168.537116  187.00000  279.000000  330.00000
PTRATIO  506.0   18.455534    2.164946   12.60000   17.400000   19.05000
B        506.0  356.674032   91.294864    0.32000  375.377500  391.44000
LSTAT    506.0   12.653063    7.141062    1.73000    6.950000   11.36000
MEDV     506.0   22.532806    9.197104    5.00000   17.025000   21.20000

                75%       max
CRIM       3.677083   88.9762
ZN        12.500000  100.0000
INDUS     18.100000   27.7400
NOX        0.624000    0.8710
RM         6.622000    8.7800
AGE       94.075000  100.0000
DIS        5.188425   12.1265
TAX      666.000000  711.0000
PTRATIO   20.200000   22.0000
B        396.225000  396.9000
LSTAT     16.955000   37.9700
MEDV      25.000000   50.0000

In [28]:
print(data_describe_T['75%']-data_describe_T['25%'])

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

1.5순위 구하기 (336p)

In [29]:
import pandas as pd

In [30]:
data = pd.read_csv('/content/bigData/boston.csv')

In [32]:
print(data.head())

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [33]:
data_medv = data['MEDV']

In [34]:
print(data_medv.head())

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [38]:
data_new = data['MEDV'].sort_values(ascending=False)

In [40]:
print(data_new.head(30))

283    50.0
225    50.0
369    50.0
370    50.0
371    50.0
372    50.0
186    50.0
204    50.0
257    50.0
195    50.0
166    50.0
163    50.0
267    50.0
162    50.0
161    50.0
368    50.0
262    48.8
203    48.5
233    48.3
228    46.7
282    46.0
280    45.4
224    44.8
256    44.0
98     43.8
268    43.5
261    43.1
253    42.8
202    42.3
232    41.7
Name: MEDV, dtype: float64

In [41]:
num_30 = data_new.head(30).iloc[-1]

In [42]:
print(num_30)

41.7

In [48]:
data_new.iloc[:29] = num_30

In [49]:
print(data_new.head(30))

283    41.7
225    41.7
369    41.7
370    41.7
371    41.7
372    41.7
186    41.7
204    41.7
257    41.7
195    41.7
166    41.7
163    41.7
267    41.7
162    41.7
161    41.7
368    41.7
262    41.7
203    41.7
233    41.7
228    41.7
282    41.7
280    41.7
224    41.7
256    41.7
98     41.7
268    41.7
261    41.7
253    41.7
202    41.7
232    41.7
Name: MEDV, dtype: float64

In [50]:
print(data_new.mean(),data_new.median(),data_new.min(),data_new.max())

22.1796442687747 21.2 5.0 41.7

2.1 그룹별 집계,요약 (341p)

In [51]:
import pandas as pd

In [52]:
data = pd.read_csv('/content/bigData/boston.csv')

In [54]:
print(data['TAX'].describe())

count    506.000000
mean     408.237154
std      168.537116
min      187.000000
25%      279.000000
50%      330.000000
75%      666.000000
max      711.000000
Name: TAX, dtype: float64

In [57]:
tax_median = data['TAX'].median()

In [58]:
print(tax_median)

330.0

In [59]:
print(data[data['TAX']>tax_median])

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
54   0.01360  75.0   4.00     0  0.410  5.888  47.6  7.3197    3  469
65   0.03584  80.0   3.37     0  0.398  6.290  17.8  6.6115    4  337
66   0.04379  80.0   3.37     0  0.398  5.787  31.1  6.6115    4  337
67   0.05789  12.5   6.07     0  0.409  5.878  21.4  6.4980    4  345
68   0.13554  12.5   6.07     0  0.409  5.594  36.8  6.4980    4  345
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
496  0.28960   0.0   9.69     0  0.585  5.390  72.9  2.7986    6  391
497  0.26838   0.0   9.69     0  0.585    NaN  70.6  2.8927    6  391
498  0.23912   0.0   9.69     0  0.585  6.019  65.3  2.4091    6  391
499  0.17783   0.0   9.69     0  0.585  5.569  73.5  2.3999    6  391
500  0.22438   0.0   9.69     0  0.585  6.027  79.7  2.4982    6  391

     PTRATIO       B  LSTAT  MEDV
54      21.1  396.90  14.80  18.9
65      16.1  396.90   4.67  23.5
66      16.1  396.90  10.24  19.4
67      18.9  396.21   8.10  22.0
68      18.9  396.90  13.09  17.4
..       ...     ...    ...   ...
496     19.2  396.90  21.14  19.7
497     19.2  396.90  14.10  18.3
498     19.2  396.90  12.92  21.2
499     19.2  395.77  15.10  17.5
500     19.2  396.90  14.33  16.8

[250 rows x 14 columns]

In [60]:
data_new = data[data['TAX']>tax_median][['CHAS','RAD']]

In [61]:
print(data_new)

     CHAS  RAD
54      0    3
65      0    4
66      0    4
67      0    4
68      0    4
..    ...  ...
496     0    6
497     0    6
498     0    6
499     0    6
500     0    6

[250 rows x 2 columns]

In [63]:
print(data_new['CHAS'].unique())

[0 1]

In [64]:
print(data_new['RAD'].unique())

[ 3  4  5  6  2  1 24]

In [86]:
data_new2 = data_new.groupby(['CHAS','RAD'])['RAD'].count()

In [87]:
print(data_new2)

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: RAD, dtype: int64

In [88]:
print(type(data_new2))

<class 'pandas.core.series.Series'>

In [89]:
data_new3 = pd.DataFrame(data_new2)

In [90]:
print(data_new3)

          RAD
CHAS RAD
0    1      3
     2      2
     3      5
     4     33
     5     51
     6     17
     24   124
1    5      7
     24     8

In [91]:
data_new3.columns = ['COUNT']

In [92]:
print(data_new3)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

2.2오름차순,내림차순 정렬하기 (349p)

In [93]:
import pandas as pd

In [94]:
data = pd.read_csv('/content/bigData/boston.csv')

In [95]:
print(data.head())

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [96]:
print(data['TAX'].head())

0    296
1    242
2    242
3    222
4    222
Name: TAX, dtype: int64

In [105]:
tax_asc = data['TAX'].copy().sort_values(ascending=True)

In [106]:
tax_desc = data['TAX'].copy().sort_values(ascending=False)

In [107]:
print(tax_asc,tax_desc)

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64 492    711
491    711
490    711
489    711
488    711
      ...
121    188
120    188
125    188
124    188
353    187
Name: TAX, Length: 506, dtype: int64

In [112]:
tax_asc.reset_index(drop=True,inplace=True)

In [113]:
print(tax_asc)

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64

In [114]:
tax_desc.reset_index(drop=True,inplace=True)

In [115]:
print(tax_desc)

0      711
1      711
2      711
3      711
4      711
      ...
501    188
502    188
503    188
504    188
505    187
Name: TAX, Length: 506, dtype: int64

In [118]:
# print(abs(tax_asc-tax_desc).var())

28490.598645951555

In [119]:
data_concat = pd.concat([tax_asc,tax_desc],axis=1)

In [120]:
print(data_concat)

     TAX  TAX
0    187  711
1    188  711
2    188  711
3    188  711
4    188  711
..   ...  ...
501  711  188
502  711  188
503  711  188
504  711  188
505  711  187

[506 rows x 2 columns]

In [121]:
data_concat['diff'] = abs(data_concat.iloc[:,0]-data_concat.iloc[:,1])

In [122]:
print(data_concat)

     TAX  TAX  diff
0    187  711   524
1    188  711   523
2    188  711   523
3    188  711   523
4    188  711   523
..   ...  ...   ...
501  711  188   523
502  711  188   523
503  711  188   523
504  711  188   523
505  711  187   524

[506 rows x 3 columns]

In [123]:
print(data_concat['diff'].var())

28490.598645951555

2.3최소최대 변환하기 (358p)

In [124]:
import pandas as pd

In [125]:
data = pd.read_csv('/content/bigData/boston.csv')

In [126]:
from sklearn.preprocessing import MinMaxScaler

In [127]:
scaler = MinMaxScaler()

In [128]:
data_minmax = scaler.fit_transform(data)

In [130]:
print(type(data_minmax))

<class 'numpy.ndarray'>

In [131]:
data_minmax = pd.DataFrame(data_minmax,columns=data.columns)

In [132]:
print(data_minmax.head())

       CRIM    ZN     INDUS  CHAS       NOX        RM       AGE       DIS  \
0  0.000000  0.18  0.067815   0.0  0.314815  0.577505  0.641607  0.269203
1  0.000236  0.00  0.242302   0.0  0.172840  0.547998  0.782698  0.348962
2  0.000236  0.00  0.242302   0.0  0.172840  0.694386  0.599382  0.348962
3  0.000293  0.00  0.063050   0.0  0.150206  0.658555  0.441813  0.448545
4  0.000705  0.00  0.063050   0.0  0.150206  0.687105  0.528321  0.448545

        RAD       TAX   PTRATIO         B     LSTAT      MEDV
0  0.000000  0.208015  0.287234  1.000000  0.089680  0.422222
1  0.043478  0.104962  0.553191  1.000000  0.204470  0.368889
2  0.043478  0.104962  0.553191  0.989737  0.063466  0.660000
3  0.086957  0.066794  0.648936  0.994276  0.033389  0.631111
4  0.086957  0.066794  0.648936  1.000000  0.099338  0.693333

In [133]:
print(data_minmax['MEDV'].describe())

count    506.000000
mean       0.389618
std        0.204380
min        0.000000
25%        0.267222
50%        0.360000
75%        0.444444
max        1.000000
Name: MEDV, dtype: float64

In [134]:
print(data_minmax[data_minmax['MEDV']>0.5]['MEDV'])

2      0.660000
3      0.631111
4      0.693333
5      0.526667
39     0.573333
         ...
370    1.000000
371    1.000000
372    1.000000
407    0.508889
473    0.551111
Name: MEDV, Length: 106, dtype: float64

2.4빈도값 구하기 (363p)

In [135]:
import pandas as pd

In [153]:
data = pd.read_csv('/content/bigData/boston.csv')

In [161]:
print(data.head())

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [162]:
data2 = round(data['AGE'])

In [139]:
print(data2.head())

0    65.0
1    79.0
2    61.0
3    46.0
4    54.0
Name: AGE, dtype: float64

In [140]:
data2 = pd.DataFrame(data2)

In [142]:
print(data2.groupby('AGE')['AGE'].count())

AGE
3.0       1
6.0       3
7.0       3
8.0       3
9.0       1
         ..
96.0     15
97.0     17
98.0     19
99.0     10
100.0    43
Name: AGE, Length: 91, dtype: int64

In [143]:
data3 = data2.groupby('AGE')['AGE'].count()

In [145]:
data3 = pd.DataFrame(data3)

In [146]:
data3.columns = ['COUNT']

In [147]:
print(data3.head())

     COUNT
AGE
3.0      1
6.0      3
7.0      3
8.0      3
9.0      1

In [150]:
data3.reset_index(drop=False,inplace=True)

In [151]:
print(data3.head())

   AGE  COUNT
0  3.0      1
1  6.0      3
2  7.0      3
3  8.0      3
4  9.0      1

In [152]:
print(data3['AGE'].iloc[-1],data3['COUNT'].iloc[-1])

100.0 43

In [154]:
from scipy.stats import mode

In [163]:
print(mode(data2))

ModeResult(mode=array([100.]), count=array([43]))

In [164]:
print(mode(data2)[0])

[100.]

In [165]:
print(mode(data2)[1])

[43]

2.5 표준 변환하기(371p)

In [180]:
import pandas as pd

In [181]:
data = pd.read_csv('/content/bigData/boston.csv')

In [182]:
from sklearn.preprocessing import StandardScaler

In [183]:
scaler = StandardScaler()

In [184]:
data_stdd = scaler.fit_transform(data)

In [185]:
print(type(data_stdd))

<class 'numpy.ndarray'>

In [186]:
data_stdd = pd.DataFrame(data_stdd,columns=data.columns)

In [187]:
print(data_stdd)

         CRIM        ZN     INDUS      CHAS       NOX        RM       AGE  \
0   -0.419782  0.284830 -1.287909 -0.272599 -0.144217  0.409823 -0.120013
1   -0.417339 -0.487722 -0.593381 -0.272599 -0.740262  0.192116  0.367166
2   -0.417342 -0.487722 -0.593381 -0.272599 -0.740262  1.272167 -0.265812
3   -0.416750 -0.487722 -1.306878 -0.272599 -0.835284  1.007809 -0.809889
4   -0.412482 -0.487722 -1.306878 -0.272599 -0.835284  1.218447 -0.511180
..        ...       ...       ...       ...       ...       ...       ...
501 -0.413229 -0.487722  0.115738 -0.272599  0.158124  0.435269  0.018673
502 -0.415249 -0.487722  0.115738 -0.272599  0.158124       NaN  0.288933
503 -0.413447 -0.487722  0.115738 -0.272599  0.158124  0.976708  0.797449
504 -0.407764 -0.487722  0.115738 -0.272599  0.158124  0.719419  0.736996
505 -0.415000 -0.487722  0.115738 -0.272599  0.158124 -0.360632  0.434732

          DIS       RAD       TAX   PTRATIO         B     LSTAT      MEDV
0    0.140214 -0.982843 -0.666608 -1.459000  0.441052 -1.075562  0.159686
1    0.557160 -0.867883 -0.987329 -0.303094  0.441052 -0.492439 -0.101524
2    0.557160 -0.867883 -0.987329 -0.303094  0.396427 -1.208727  1.324247
3    1.077737 -0.752922 -1.106115  0.113032  0.416163 -1.361517  1.182758
4    1.077737 -0.752922 -1.106115  0.113032  0.441052 -1.026501  1.487503
..        ...       ...       ...       ...       ...       ...       ...
501 -0.625796 -0.982843 -0.803212  1.176466  0.387217 -0.418147 -0.014454
502 -0.716639 -0.982843 -0.803212  1.176466  0.441052 -0.500850 -0.210362
503 -0.773684 -0.982843 -0.803212  1.176466  0.441052 -0.983048  0.148802
504 -0.668437 -0.982843 -0.803212  1.176466  0.403225 -0.865302 -0.057989
505 -0.613246 -0.982843 -0.803212  1.176466  0.441052 -0.669058 -1.157248

[506 rows x 14 columns]

In [190]:
data_stdd = data_stdd[((data_stdd['DIS']>0.4)&(data_stdd['DIS']<0.6))]['DIS']

In [192]:
print(round(data_stdd.mean(),2))

0.48

2.6유니크한 값 구하기 (376p)

In [221]:
import pandas as pd

In [222]:
data = pd.read_csv('/content/bigData/boston.csv')

In [223]:
col = list(data.columns)

In [224]:
print(col)

['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

In [228]:
sum = 0
for i in col:
  sum+=pd.DataFrame(data[i].unique()).count()[0]

In [229]:
print(sum)

3052

In [230]:
print(sum/len(col))

218.0