In [1]:
!git clone https://github.com/7ieon/bigData

Cloning into 'bigData'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 13 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (13/13), done.

11.15

top10 구하기

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/bigData/boston.csv')

In [5]:
print(data.head())

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [7]:
print(data.sort_values('MEDV',ascending=True))

         CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  \
398  38.35180   0.0  18.10     0  0.693    NaN  100.0  1.4896   24  666
405  67.92080   0.0  18.10     0  0.693  5.683  100.0  1.4254   24  666
400  25.04610   0.0  18.10     0  0.693  5.987  100.0  1.5888   24  666
399   9.91655   0.0  18.10     0  0.693  5.852   77.8  1.5004   24  666
414  45.74610   0.0  18.10     0  0.693  4.519  100.0  1.6582   24  666
..        ...   ...    ...   ...    ...    ...    ...     ...  ...  ...
166   2.01019   0.0  19.58     0  0.605  7.929   96.2  2.0459    5  403
195   0.01381  80.0   0.46     0  0.422  7.875   32.0  5.6484    4  255
283   0.01501  90.0   1.21     1  0.401  7.923   24.8  5.8850    1  198
225   0.52693   0.0   6.20     0  0.504  8.725   83.0  2.8944    8  307
186   0.05602   0.0   2.46     0  0.488  7.831   53.6  3.1992    3  193

     PTRATIO       B  LSTAT  MEDV
398     20.2  396.90  30.59   5.0
405     20.2  384.97  22.98   5.0
400     20.2  396.90  26.77   5.6
399     20.2  338.16  29.97   6.3
414     20.2   88.27  36.98   7.0
..       ...     ...    ...   ...
166     14.7  369.30   3.70  50.0
195     14.4  394.23   2.97  50.0
283     13.6  395.52   3.16  50.0
225     17.4  382.00   4.63  50.0
186     17.8  392.63   4.45  50.0

[506 rows x 14 columns]

In [8]:
print(data.sort_values('MEDV',ascending=True)['MEDV'])

398     5.0
405     5.0
400     5.6
399     6.3
414     7.0
       ...
166    50.0
195    50.0
283    50.0
225    50.0
186    50.0
Name: MEDV, Length: 506, dtype: float64

In [9]:
print(data.sort_values('MEDV',ascending=True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

결측치 확인하기

In [10]:
import pandas as pd

In [11]:
data = pd.read_csv('/content/bigData/boston.csv')

In [12]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       491 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [14]:
print(data.isnull().sum())

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM         15
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV        0
dtype: int64

In [15]:
data_describe = data.describe()

In [20]:
print(data_describe['RM']['mean'])

6.285101832993889

In [21]:
data_mean = data['RM'].copy()

In [22]:
print(data_mean.isnull().sum())

15

In [23]:
rm_mean = data_mean.mean()

In [24]:
print(rm_mean)

6.285101832993889

In [26]:
print(data_mean.fillna(rm_mean,inplace=True))

None

In [27]:
print(data_mean.isnull().sum())

0

In [28]:
data_del = data['RM'].copy()

In [29]:
data_del.dropna(inplace=True)

In [31]:
print(data_del.isnull().sum())

0

In [32]:
print(data_mean.std(),data_del.std())

0.6975001826300912 0.7080957287241957

In [33]:
print(abs(data_mean.std()-data_del.std()))

0.010595546094104513

이상값 확인하기

In [34]:
import pandas as pd

In [35]:
data = pd.read_csv('/content/bigData/boston.csv')

In [38]:
print(data['ZN'])

0      18.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
501     0.0
502     0.0
503     0.0
504     0.0
505     0.0
Name: ZN, Length: 506, dtype: float64

In [39]:
ZN_describe = data['ZN'].describe()

In [40]:
print(ZN_describe)

count    506.000000
mean      11.363636
std       23.322453
min        0.000000
25%        0.000000
50%        0.000000
75%       12.500000
max      100.000000
Name: ZN, dtype: float64

In [42]:
print(data['ZN'][data['ZN']>ZN_describe['mean']+(ZN_describe['std']*1.5)].sum())

3462.5

In [44]:
print(data['ZN'][data['ZN']<ZN_describe['mean']-(ZN_describe['std']*1.5)].sum())

0.0

11.16

사분위수 구하기

In [45]:
import pandas as pd

In [46]:
data = pd.read_csv('/content/bigData/boston.csv')