In [1]:
!git clone https://github.com/7ieon/bigData

Cloning into 'bigData'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 13 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (13/13), done.

In [44]:
import pandas as pd

In [78]:
x_train = pd.read_csv('/content/bigData/x_train.csv',encoding='CP949')

In [79]:
y_train= pd.read_csv('/content/bigData/y_train.csv',encoding='CP949')

In [80]:
x_test = pd.read_csv('/content/bigData/x_test.csv',encoding='CP949')

In [81]:
print(x_train.head())

   cust_id      총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0        0  68282840  11264000  6860000.0      기타   강남점    19  3.894737
1        1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2        2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3        3  16077620   4935000        NaN      기타   광주점    18  2.444444
4        4  29050000  24000000        NaN      보석  본  점     2  1.500000

     주말방문비율  구매주기
0  0.527027    17
1  0.000000     1
2  0.000000     1
3  0.318182    16
4  0.000000    85

In [82]:
display(x_test.head())

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,3500,70900400,22000000,4050000.0,골프,부산본점,13,1.461538,0.789474,26
1,3501,310533100,38558000,48034700.0,농산물,잠실점,90,2.433333,0.369863,3
2,3502,305264140,14825000,30521000.0,가공식품,본 점,101,14.623762,0.083277,3
3,3503,7594080,5225000,NaN,주방용품,부산본점,5,2.000000,0.000000,47
4,3504,1795790,1411200,NaN,수산품,청량리점,3,2.666667,0.125000,8

In [83]:
print(y_train.head())

   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0

In [84]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)

(3500, 10)
(2482, 10)
(3500, 2)

In [85]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB
None

In [86]:
print(x_train.describe())

           cust_id          총구매액         최대구매액          환불금액         내점일수  \
count  3500.000000  3.500000e+03  3.500000e+03  1.205000e+03  3500.000000
mean   1749.500000  9.191925e+07  1.966424e+07  2.407822e+07    19.253714
std    1010.507298  1.635065e+08  3.199235e+07  4.746453e+07    27.174942
min       0.000000 -5.242152e+07 -2.992000e+06  5.600000e+03     1.000000
25%     874.750000  4.747050e+06  2.875000e+06  2.259000e+06     2.000000
50%    1749.500000  2.822270e+07  9.837000e+06  7.392000e+06     8.000000
75%    2624.250000  1.065079e+08  2.296250e+07  2.412000e+07    25.000000
max    3499.000000  2.323180e+09  7.066290e+08  5.637530e+08   285.000000

           내점당구매건수       주말방문비율         구매주기
count  3500.000000  3500.000000  3500.000000
mean      2.834963     0.307246    20.958286
std       1.912368     0.289752    24.748682
min       1.000000     0.000000     0.000000
25%       1.666667     0.027291     4.000000
50%       2.333333     0.256410    13.000000
75%       3.375000     0.448980    28.000000
max      22.083333     1.000000   166.000000

In [87]:
x_test_cust_id = x_test['cust_id']

In [88]:
print(x_test_cust_id)

0       3500
1       3501
2       3502
3       3503
4       3504
        ...
2477    5977
2478    5978
2479    5979
2480    5980
2481    5981
Name: cust_id, Length: 2482, dtype: int64

In [89]:
x_train = x_train.drop(columns=['cust_id'])

In [90]:
x_test = x_test.drop(columns=['cust_id'])

In [91]:
y_train = y_train.drop(columns=['cust_id'])

In [92]:
print(x_train.head())

       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  6860000.0      기타   강남점    19  3.894737  0.527027    17
1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000  0.000000     1
2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000  0.000000     1
3  16077620   4935000        NaN      기타   광주점    18  2.444444  0.318182    16
4  29050000  24000000        NaN      보석  본  점     2  1.500000  0.000000    85

In [93]:
print(x_train.isnull().sum())

총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [94]:
x_train['환불금액'].fillna(0,inplace=True)

In [95]:
x_test['환불금액'].fillna(0,inplace=True)

In [96]:
print(x_train.isnull().sum())

총구매액       0
최대구매액      0
환불금액       0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
dtype: int64

In [97]:
print(x_test.isnull().sum())

총구매액       0
최대구매액      0
환불금액       0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
dtype: int64

In [98]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   총구매액     3500 non-null   int64
 1   최대구매액    3500 non-null   int64
 2   환불금액     3500 non-null   float64
 3   주구매상품    3500 non-null   object
 4   주구매지점    3500 non-null   object
 5   내점일수     3500 non-null   int64
 6   내점당구매건수  3500 non-null   float64
 7   주말방문비율   3500 non-null   float64
 8   구매주기     3500 non-null   int64
dtypes: float64(3), int64(4), object(2)
memory usage: 246.2+ KB
None

In [99]:
print(x_train['주구매상품'].unique())

['기타' '스포츠' '남성 캐주얼' '보석' '디자이너' '시티웨어' '명품' '농산물' '화장품' '골프' '구두' '가공식품'
 '수산품' '아동' '차/커피' '캐주얼' '섬유잡화' '육류' '축산가공' '젓갈/반찬' '액세서리' '피혁잡화' '일용잡화'
 '주방가전' '주방용품' '건강식품' '가구' '주류' '모피/피혁' '남성 트랜디' '셔츠' '남성정장' '생활잡화'
 '트래디셔널' '란제리/내의' '커리어' '침구/수예' '대형가전' '통신/컴퓨터' '식기' '소형가전' '악기']

In [100]:
print(x_train['주구매상품'].unique().size)

42

In [101]:
print(x_train['주구매지점'].unique())

['강남점' '잠실점' '관악점' '광주점' '본  점' '일산점' '대전점' '부산본점' '분당점' '영등포점' '미아점'
 '청량리점' '안양점' '부평점' '동래점' '포항점' '노원점' '창원점' '센텀시티점' '인천점' '대구점' '전주점'
 '울산점' '상인점']

In [102]:
print(x_train['주구매지점'].unique().size)

24

In [103]:
from sklearn.preprocessing import LabelEncoder

In [104]:
encoder = LabelEncoder()

In [105]:
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])

In [106]:
print(x_train['주구매상품'].head())

0     5
1    21
2     6
3     5
4    15
Name: 주구매상품, dtype: int64

In [107]:
x_train['주구매상품'].unique().size

42

In [108]:
x_test['주구매상품'] = encoder.transform(x_test['주구매상품'])

In [109]:
print(x_test['주구매상품'])

0        3
1        9
2        0
3       32
4       20
        ..
2477     3
2478    17
2479     6
2480    27
2481     0
Name: 주구매상품, Length: 2482, dtype: int64

In [110]:
x_test['주구매상품'].unique().size

41

In [115]:
x_train['주구매지점'].unique()

array([ 0, 19,  1,  2,  8, 18,  5,  9, 11, 15,  7, 22, 14, 10,  6, 23,  3,
       21, 13, 17,  4, 20, 16, 12])

In [111]:
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])

In [114]:
print(x_train['주구매지점'].head())

0     0
1    19
2     1
3     2
4     8
Name: 주구매지점, dtype: int64

In [116]:
x_test['주구매지점'] = encoder.transform(x_test['주구매지점'])

In [117]:
print(x_test['주구매지점'])

0        9
1       19
2        8
3        9
4       22
        ..
2477     9
2478     2
2479     8
2480     8
2481    15
Name: 주구매지점, Length: 2482, dtype: int64

In [118]:
print(x_train['주구매지점'].unique().size,x_test['주구매지점'].unique().size)

24 24

In [119]:
x_train.loc[x_train['환불금액']>0,'환불여부']=1

In [120]:
x_train.loc[x_train['환불금액']<=0,'환불여부']=0

In [127]:
print(x_train[['환불금액','환불여부']].head())

KeyError: ignored

In [123]:
x_train.drop(columns='환불금액',inplace=True)

In [124]:
x_test.loc[x_test['환불금액']>0,'환불여부']=1

In [125]:
x_test.loc[x_test['환불금액']<=0,'환불여부']=0

In [126]:
print(x_test[['환불금액','환불여부']])

            환불금액  환불여부
0      4050000.0   1.0
1     48034700.0   1.0
2     30521000.0   1.0
3            0.0   0.0
4            0.0   0.0
...          ...   ...
2477         0.0   0.0
2478         0.0   0.0
2479         0.0   0.0
2480         0.0   0.0
2481         0.0   0.0

[2482 rows x 2 columns]

In [128]:
x_test.drop(columns='환불금액',inplace=True)

In [129]:
print(x_test.head())

        총구매액     최대구매액  주구매상품  주구매지점  내점일수    내점당구매건수    주말방문비율  구매주기  환불여부
0   70900400  22000000      3      9    13   1.461538  0.789474    26   1.0
1  310533100  38558000      9     19    90   2.433333  0.369863     3   1.0
2  305264140  14825000      0      8   101  14.623762  0.083277     3   1.0
3    7594080   5225000     32      9     5   2.000000  0.000000    47   0.0
4    1795790   1411200     20     22     3   2.666667  0.125000     8   0.0

In [130]:
print(x_train.describe())

               총구매액         최대구매액        주구매상품        주구매지점         내점일수  \
count  3.500000e+03  3.500000e+03  3500.000000  3500.000000  3500.000000
mean   9.191925e+07  1.966424e+07    14.612000    10.734286    19.253714
std    1.635065e+08  3.199235e+07    13.019947     5.636480    27.174942
min   -5.242152e+07 -2.992000e+06     0.000000     0.000000     1.000000
25%    4.747050e+06  2.875000e+06     5.000000     8.000000     2.000000
50%    2.822270e+07  9.837000e+06     9.000000     9.000000     8.000000
75%    1.065079e+08  2.296250e+07    22.000000    15.000000    25.000000
max    2.323180e+09  7.066290e+08    41.000000    23.000000   285.000000

           내점당구매건수       주말방문비율         구매주기         환불여부
count  3500.000000  3500.000000  3500.000000  3500.000000
mean      2.834963     0.307246    20.958286     0.344286
std       1.912368     0.289752    24.748682     0.475203
min       1.000000     0.000000     0.000000     0.000000
25%       1.666667     0.027291     4.000000     0.000000
50%       2.333333     0.256410    13.000000     0.000000
75%       3.375000     0.448980    28.000000     1.000000
max      22.083333     1.000000   166.000000     1.000000

In [131]:
from sklearn.preprocessing import StandardScaler

In [132]:
scaler = StandardScaler()

In [133]:
x_train = pd.DataFrame(scaler.fit_transform(x_train),columns=x_train.columns)

In [134]:
print(x_train.describe())

               총구매액         최대구매액         주구매상품         주구매지점          내점일수  \
count  3.500000e+03  3.500000e+03  3.500000e+03  3.500000e+03  3.500000e+03
mean  -3.349701e-17 -4.263256e-17 -6.090366e-17 -8.767590e-17  4.669281e-17
std    1.000143e+00  1.000143e+00  1.000143e+00  1.000143e+00  1.000143e+00
min   -8.829091e-01 -7.082781e-01 -1.122438e+00 -1.904703e+00 -6.718072e-01
25%   -5.332182e-01 -5.248643e-01 -7.383573e-01 -4.851745e-01 -6.350034e-01
50%   -3.896215e-01 -3.072187e-01 -4.310925e-01 -3.077335e-01 -4.141802e-01
75%    8.923657e-02  1.031100e-01  5.675181e-01  7.569129e-01  2.114855e-01
max    1.364826e+01  2.147585e+01  2.027026e+00  2.176441e+00  9.780490e+00

            내점당구매건수        주말방문비율          구매주기          환불여부
count  3.500000e+03  3.500000e+03  3.500000e+03  3.500000e+03
mean  -2.618858e-16  7.917476e-17 -4.263256e-17  1.218073e-17
std    1.000143e+00  1.000143e+00  1.000143e+00  1.000143e+00
min   -9.596611e-01 -1.060530e+00 -8.469655e-01 -7.246064e-01
25%   -6.110034e-01 -9.663293e-01 -6.853177e-01 -7.246064e-01
50%   -2.623457e-01 -1.754721e-01 -3.216100e-01 -7.246064e-01
75%    2.824320e-01  4.892244e-01  2.845695e-01  1.380060e+00
max    1.006664e+01  2.391196e+00  5.861421e+00  1.380060e+00

In [135]:
x_test = pd.DataFrame(scaler.transform(x_test),columns=x_test.columns)

In [136]:
print(x_test.describe())

              총구매액        최대구매액        주구매상품        주구매지점         내점일수  \
count  2482.000000  2482.000000  2482.000000  2482.000000  2482.000000
mean      0.055714     0.065845    -0.042926     0.041715     0.009687
std       1.059517     1.095706     0.983605     1.012016     0.955943
min      -0.791270    -1.785189    -1.122438    -1.904703    -0.671807
25%      -0.531201    -0.524572    -0.738357    -0.485175    -0.635003
50%      -0.375588    -0.278598    -0.431093    -0.307733    -0.377376
75%       0.211069     0.206728     0.567518     1.067435     0.275892
max      16.939470    17.930622     2.027026     2.176441     7.461847

           내점당구매건수       주말방문비율         구매주기         환불여부
count  2482.000000  2482.000000  2482.000000  2482.000000
mean     -0.008146    -0.046372    -0.027166     0.013977
std       0.917606     0.975457     0.974282     1.004675
min      -0.959661    -1.060530    -0.846966    -0.724606
25%      -0.567421    -0.979567    -0.685318    -0.724606
50%      -0.211292    -0.197599    -0.321610    -0.724606
75%       0.282432     0.401503     0.244158     1.380060
max       6.819764     2.391196     6.305952     1.380060

In [137]:
print(x_train.corr())

             총구매액     최대구매액     주구매상품     주구매지점      내점일수   내점당구매건수    주말방문비율  \
총구매액     1.000000  0.700080 -0.082916 -0.038724  0.659084  0.090022  0.014396
최대구매액    0.700080  1.000000 -0.090729 -0.024819  0.374147  0.018980  0.022277
주구매상품   -0.082916 -0.090729  1.000000  0.015874 -0.185275 -0.274178 -0.010018
주구매지점   -0.038724 -0.024819  0.015874  1.000000 -0.059570 -0.080804  0.011990
내점일수     0.659084  0.374147 -0.185275 -0.059570  1.000000  0.225264 -0.010325
내점당구매건수  0.090022  0.018980 -0.274178 -0.080804  0.225264  1.000000  0.007659
주말방문비율   0.014396  0.022277 -0.010018  0.011990 -0.010325  0.007659  1.000000
구매주기    -0.212944 -0.115837  0.032469  0.035344 -0.293200 -0.091151  0.003372
환불여부     0.403357  0.330687 -0.121414 -0.061974  0.498958  0.063000 -0.008775

             구매주기      환불여부
총구매액    -0.212944  0.403357
최대구매액   -0.115837  0.330687
주구매상품    0.032469 -0.121414
주구매지점    0.035344 -0.061974
내점일수    -0.293200  0.498958
내점당구매건수 -0.091151  0.063000
주말방문비율   0.003372 -0.008775
구매주기     1.000000 -0.204851
환불여부    -0.204851  1.000000

In [139]:
x_train.drop(columns=['최대구매액','내점일수'],inplace=True)

In [141]:
x_test.drop(columns=['최대구매액','내점일수'],inplace=True)

In [145]:
from sklearn.tree import DecisionTreeClassifier

In [150]:
model = DecisionTreeClassifier(max_depth=10,criterion='entropy')

In [151]:
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=10)

In [152]:
y_test_predicted = model.predict(x_test)

In [155]:
print(pd.DataFrame(y_test_predicted))

      0
0     1
1     0
2     0
3     0
4     1
...  ..
2477  1
2478  1
2479  0
2480  1
2481  0

[2482 rows x 1 columns]

In [165]:
y_test_proba = model.predict_proba(x_test)

In [166]:
print(pd.DataFrame(y_test_proba).head())

          0         1
0  0.333333  0.666667
1  0.809668  0.190332
2  1.000000  0.000000
3  0.567976  0.432024
4  0.491409  0.508591

In [160]:
result = pd.DataFrame(y_test_proba)[1]

In [161]:
print(result)

0       0.666667
1       0.190332
2       0.000000
3       0.432024
4       0.508591
          ...
2477    1.000000
2478    0.508591
2479    0.000000
2480    0.583333
2481    0.448718
Name: 1, Length: 2482, dtype: float64

In [162]:
y_train_predicted = model.predict(x_train)

In [163]:
from sklearn.metrics import roc_auc_score

In [164]:
print(roc_auc_score(y_train,y_train_predicted))

0.7121522094926351

In [168]:
pd.concat([x_test_cust_id,result],axis=1).rename(columns={1:'gender'})

      cust_id    gender
0        3500  0.666667
1        3501  0.190332
2        3502  0.000000
3        3503  0.432024
4        3504  0.508591
...       ...       ...
2477     5977  1.000000
2478     5978  0.508591
2479     5979  0.000000
2480     5980  0.583333
2481     5981  0.448718

[2482 rows x 2 columns]

In [169]:
final = pd.concat([x_test_cust_id,result],axis=1).rename(columns={1:'gender'})

In [173]:
final.to_csv('12345.csv',index=False)

In [174]:
final = pd.read_csv('12345.csv')

In [175]:
print(final)

      cust_id    gender
0        3500  0.666667
1        3501  0.190332
2        3502  0.000000
3        3503  0.432024
4        3504  0.508591
...       ...       ...
2477     5977  1.000000
2478     5978  0.508591
2479     5979  0.000000
2480     5980  0.583333
2481     5981  0.448718

[2482 rows x 2 columns]

In [1]:
!git clone https://github.com/7ieon/bigData

Cloning into 'bigData'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 13 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (13/13), done.

In [114]:
import pandas as pd

In [159]:
x_train = pd.read_csv('/content/bigData/titanic_x_train.csv',encoding='CP949')

In [160]:
x_test = pd.read_csv('/content/bigData/titanic_x_test.csv',encoding='CP949')

In [161]:
y_train = pd.read_csv('/content/bigData/titanic_y_train.csv')

In [162]:
print(x_train.head())

   PassengerId  티켓등급                                               승객이름  \
0            1     3                            Braund, Mr. Owen Harris
1            2     1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2            3     3                             Heikkinen, Miss. Laina
3            4     1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4            5     3                           Allen, Mr. William Henry

       성별    나이  형제자매배우자수  부모자식수              티켓번호     운임요금  객실번호 선착장
0    male  22.0         1      0         A/5 21171   7.2500   NaN   S
1  female  38.0         1      0          PC 17599  71.2833   C85   C
2  female  26.0         0      0  STON/O2. 3101282   7.9250   NaN   S
3  female  35.0         1      0            113803  53.1000  C123   S
4    male  35.0         0      0            373450   8.0500   NaN   S

In [163]:
print(y_train)

     PassengerId  Survived
0              1         0
1              2         1
2              3         1
3              4         1
4              5         0
..           ...       ...
886          887         0
887          888         1
888          889         0
889          890         1
890          891         0

[891 rows x 2 columns]

In [164]:
print(x_train.shape)

(891, 11)

In [165]:
print(x_test.shape)

(418, 11)

In [166]:
print(y_train.shape)

(891, 2)

In [167]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   티켓등급         891 non-null    int64
 2   승객이름         891 non-null    object
 3   성별           891 non-null    object
 4   나이           714 non-null    float64
 5   형제자매배우자수     891 non-null    int64
 6   부모자식수        891 non-null    int64
 7   티켓번호         891 non-null    object
 8   운임요금         891 non-null    float64
 9   객실번호         204 non-null    object
 10  선착장          889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB
None

In [168]:
print(x_train['승객이름'].unique().size)

891

In [169]:
print(x_train['성별'].unique().size)

2

In [170]:
print(x_train['티켓번호'].unique().size)

681

In [171]:
print(x_train['선착장'].unique().size)

4

In [172]:
print(x_train.describe())

       PassengerId        티켓등급          나이    형제자매배우자수       부모자식수        운임요금
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [173]:
data = pd.concat([x_train,y_train],axis=1)

In [174]:
print(data.groupby(['성별'])['Survived'].mean())

성별
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [175]:
print(data.groupby(['티켓등급'])['Survived'].mean())

티켓등급
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [176]:
print(data.groupby(['선착장'])['Survived'].mean())

선착장
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

In [177]:
x_test_pass_id = x_test['PassengerId']

In [178]:
x_train.drop(columns=['PassengerId','티켓번호','승객이름'],inplace=True)

In [179]:
x_test.drop(columns=['PassengerId','티켓번호','승객이름'],inplace=True)

In [180]:
y_train.drop(columns=['PassengerId'],inplace=True)

In [181]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   티켓등급      891 non-null    int64
 1   성별        891 non-null    object
 2   나이        714 non-null    float64
 3   형제자매배우자수  891 non-null    int64
 4   부모자식수     891 non-null    int64
 5   운임요금      891 non-null    float64
 6   객실번호      204 non-null    object
 7   선착장       889 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 55.8+ KB
None

In [182]:
print(data.corr())

             PassengerId      티켓등급        나이  형제자매배우자수     부모자식수      운임요금  \
PassengerId     1.000000 -0.035144  0.036847 -0.057527 -0.001652  0.012658
티켓등급           -0.035144  1.000000 -0.369226  0.083081  0.018443 -0.549500
나이              0.036847 -0.369226  1.000000 -0.308247 -0.189119  0.096067
형제자매배우자수       -0.057527  0.083081 -0.308247  1.000000  0.414838  0.159651
부모자식수          -0.001652  0.018443 -0.189119  0.414838  1.000000  0.216225
운임요금            0.012658 -0.549500  0.096067  0.159651  0.216225  1.000000
PassengerId     1.000000 -0.035144  0.036847 -0.057527 -0.001652  0.012658
Survived       -0.005007 -0.338481 -0.077221 -0.035322  0.081629  0.257307

             PassengerId  Survived
PassengerId     1.000000 -0.005007
티켓등급           -0.035144 -0.338481
나이              0.036847 -0.077221
형제자매배우자수       -0.057527 -0.035322
부모자식수          -0.001652  0.081629
운임요금            0.012658  0.257307
PassengerId     1.000000 -0.005007
Survived       -0.005007  1.000000

In [183]:
x_train.drop(columns=['나이'],inplace=True)

In [184]:
x_test.drop(columns=['나이'],inplace=True)

In [185]:
x_train.drop(columns=['객실번호'],inplace=True)

In [186]:
x_test.drop(columns=['객실번호'],inplace=True)

In [187]:
print(x_train.groupby(['선착장'])['선착장'].count())

선착장
C    168
Q     77
S    644
Name: 선착장, dtype: int64

In [188]:
x_train['선착장'].fillna('S',inplace=True)

In [189]:
x_test['선착장'].fillna('S',inplace=True)

In [190]:
x_train['성별'] = x_train['성별'].replace('female',1).replace('male',0)

In [191]:
x_test['성별'] = x_test['성별'].replace('female',1).replace('male',0)

In [192]:
선착장_dummy = pd.get_dummies(x_train['선착장'],drop_first=True)

In [193]:
print(선착장_dummy)

     Q  S
0    0  1
1    0  0
2    0  1
3    0  1
4    0  1
..  .. ..
886  0  1
887  0  1
888  0  1
889  0  0
890  1  0

[891 rows x 2 columns]

In [194]:
x_train = pd.concat([x_train,선착장_dummy],axis=1)

In [195]:
x_train.drop(columns=['선착장'],inplace=True)

In [196]:
dummy = pd.get_dummies(x_test['선착장'],drop_first=True)

In [197]:
x_test = pd.concat([x_test,dummy],axis=1)

In [198]:
x_test.drop(columns=['선착장'],inplace=True)

In [199]:
print(x_train.head())

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금  Q  S
0     3   0         1      0   7.2500  0  1
1     1   1         1      0  71.2833  0  0
2     3   1         0      0   7.9250  0  1
3     1   1         1      0  53.1000  0  1
4     3   0         0      0   8.0500  0  1

In [200]:
print(x_test.head())

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금  Q  S
0     3   0         0      0   7.8292  1  0
1     3   1         1      0   7.0000  0  1
2     2   0         0      0   9.6875  1  0
3     3   0         0      0   8.6625  0  1
4     3   1         1      1  12.2875  0  1

In [201]:
# x_test.rename(columns={'선착장_Q':'Q','선착장_S':'S'},inplace=True)

In [202]:
print(x_test.head())

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금  Q  S
0     3   0         0      0   7.8292  1  0
1     3   1         1      0   7.0000  0  1
2     2   0         0      0   9.6875  1  0
3     3   0         0      0   8.6625  0  1
4     3   1         1      1  12.2875  0  1

In [203]:
x_train['가족수'] = x_train['부모자식수']+x_train['형제자매배우자수']

In [204]:
x_test['가족수'] = x_test['부모자식수']+x_test['형제자매배우자수']

In [205]:
print(x_train['가족수'])

0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    3
889    0
890    0
Name: 가족수, Length: 891, dtype: int64

In [206]:
print(x_test['가족수'])

0      0
1      1
2      0
3      0
4      2
      ..
413    0
414    0
415    0
416    0
417    2
Name: 가족수, Length: 418, dtype: int64

In [208]:
x_train.drop(columns=['부모자식수','형제자매배우자수'],inplace=True)

In [209]:
x_test.drop(columns=['부모자식수','형제자매배우자수'],inplace=True)

In [210]:
from sklearn.model_selection import train_test_split

In [211]:
x_train,x_val,y_train,y_val = train_test_split(x_train,y_train,test_size=0.2)

In [212]:
print(x_train.shape)

(712, 6)

In [213]:
print(y_train.shape)

(712, 1)

In [214]:
from xgboost import XGBClassifier

In [215]:
model = XGBClassifier(eval_metric='error')

In [216]:
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(eval_metric='error')

In [217]:
model = XGBClassifier(n_estimators=100,max_depth=5,eval_metric='error')

In [218]:
model.fit(x_train,y_train)

XGBClassifier(eval_metric='error', max_depth=5)

In [219]:
y_test_predicted = pd.DataFrame(model.predict(x_test))

In [220]:
print(y_test_predicted)

     0
0    0
1    1
2    0
3    0
4    1
..  ..
413  0
414  1
415  0
416  0
417  0

[418 rows x 1 columns]

In [222]:
y_test_predicted.rename(columns={0:'Survived'},inplace=True)

In [224]:
y_val_predicted = pd.DataFrame(model.predict(x_val))

In [225]:
from sklearn.metrics import roc_auc_score

In [226]:
print(roc_auc_score(y_val_predicted,y_val))

0.7678916827852998

In [227]:
print(pd.concat([x_test_pass_id,y_test_predicted],axis=1))

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [228]:
final = pd.concat([x_test_pass_id,y_test_predicted],axis=1)

In [229]:
final.to_csv('12345.csv',index=False)

In [230]:
final =pd.read_csv('12345.csv')

In [231]:
print(final)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [232]:
import pandas as pd

In [234]:
x_train = pd.read_csv('/content/bigData/bike_x_train.csv',encoding='CP949')

In [235]:
x_test = pd.read_csv('/content/bigData/bike_x_test.csv',encoding='CP949')

In [236]:
y_train = pd.read_csv('/content/bigData/bike_y_train.csv')

In [237]:
print(x_train.head())

          datetime  계절  공휴일  근무일  날씨    온도    체감온도  습도   풍속
0  2011-01-01 0:00   1    0    0   1  9.84  14.395  81  0.0
1  2011-01-01 1:00   1    0    0   1  9.02  13.635  80  0.0
2  2011-01-01 2:00   1    0    0   1  9.02  13.635  80  0.0
3  2011-01-01 3:00   1    0    0   1  9.84  14.395  75  0.0
4  2011-01-01 4:00   1    0    0   1  9.84  14.395  75  0.0

In [238]:
print(x_train.shape)

(10886, 9)

In [239]:
print(x_test.shape)

(6493, 9)

In [240]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  10886 non-null  object
 1   계절        10886 non-null  int64
 2   공휴일       10886 non-null  int64
 3   근무일       10886 non-null  int64
 4   날씨        10886 non-null  int64
 5   온도        10886 non-null  float64
 6   체감온도      10886 non-null  float64
 7   습도        10886 non-null  int64
 8   풍속        10886 non-null  float64
dtypes: float64(3), int64(5), object(1)
memory usage: 765.5+ KB
None

In [241]:
print(x_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  6493 non-null   object
 1   계절        6493 non-null   int64
 2   공휴일       6493 non-null   int64
 3   근무일       6493 non-null   int64
 4   날씨        6493 non-null   int64
 5   온도        6493 non-null   float64
 6   체감온도      6493 non-null   float64
 7   습도        6493 non-null   int64
 8   풍속        6493 non-null   float64
dtypes: float64(3), int64(5), object(1)
memory usage: 456.7+ KB
None

In [242]:
print(x_train.describe())

                 계절           공휴일           근무일            날씨           온도  \
count  10886.000000  10886.000000  10886.000000  10886.000000  10886.00000
mean       2.506614      0.028569      0.680875      1.418427     20.23086
std        1.116174      0.166599      0.466159      0.633839      7.79159
min        1.000000      0.000000      0.000000      1.000000      0.82000
25%        2.000000      0.000000      0.000000      1.000000     13.94000
50%        3.000000      0.000000      1.000000      1.000000     20.50000
75%        4.000000      0.000000      1.000000      2.000000     26.24000
max        4.000000      1.000000      1.000000      4.000000     41.00000

               체감온도            습도            풍속
count  10886.000000  10886.000000  10886.000000
mean      23.655084     61.886460     12.799395
std        8.474601     19.245033      8.164537
min        0.760000      0.000000      0.000000
25%       16.665000     47.000000      7.001500
50%       24.240000     62.000000     12.998000
75%       31.060000     77.000000     16.997900
max       45.455000    100.000000     56.996900

In [245]:
data = pd.concat([x_train,y_train['count']],axis=1)

In [246]:
print(data)

               datetime  계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속  count
0       2011-01-01 0:00   1    0    0   1   9.84  14.395  81   0.0000     16
1       2011-01-01 1:00   1    0    0   1   9.02  13.635  80   0.0000     40
2       2011-01-01 2:00   1    0    0   1   9.02  13.635  80   0.0000     32
3       2011-01-01 3:00   1    0    0   1   9.84  14.395  75   0.0000     13
4       2011-01-01 4:00   1    0    0   1   9.84  14.395  75   0.0000      1
...                 ...  ..  ...  ...  ..    ...     ...  ..      ...    ...
10881  2012-12-19 19:00   4    0    1   1  15.58  19.695  50  26.0027    336
10882  2012-12-19 20:00   4    0    1   1  14.76  17.425  57  15.0013    241
10883  2012-12-19 21:00   4    0    1   1  13.94  15.910  61  15.0013    168
10884  2012-12-19 22:00   4    0    1   1  13.94  17.425  61   6.0032    129
10885  2012-12-19 23:00   4    0    1   1  13.12  16.665  66   8.9981     88

[10886 rows x 10 columns]

In [248]:
print(data.groupby(['계절'])['count'].sum())

계절
1    312498
2    588282
3    640662
4    544034
Name: count, dtype: int64

In [250]:
print(data.groupby(['공휴일'])['count'].sum())

공휴일
0    2027668
1      57808
Name: count, dtype: int64

In [251]:
print(data.groupby(['근무일'])['count'].sum())

근무일
0     654872
1    1430604
Name: count, dtype: int64

In [252]:
print(data.groupby(['날씨'])['count'].sum())

날씨
1    1476063
2     507160
3     102089
4        164
Name: count, dtype: int64

In [253]:
x_train['datetime'] = pd.to_datetime(x_train['datetime'])

In [254]:
x_train['year'] = x_train['datetime'].dt.year

In [255]:
x_train['month'] = x_train['datetime'].dt.month

In [256]:
x_train['day'] = x_train['datetime'].dt.day

In [257]:
x_train['hour'] = x_train['datetime'].dt.hour

In [258]:
x_train['dayofweek'] = x_train['datetime'].dt.dayofweek

In [259]:
data2 = pd.concat([x_train,y_train],axis=1)

In [260]:
print(data2)

                 datetime  계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속  year  \
0     2011-01-01 00:00:00   1    0    0   1   9.84  14.395  81   0.0000  2011
1     2011-01-01 01:00:00   1    0    0   1   9.02  13.635  80   0.0000  2011
2     2011-01-01 02:00:00   1    0    0   1   9.02  13.635  80   0.0000  2011
3     2011-01-01 03:00:00   1    0    0   1   9.84  14.395  75   0.0000  2011
4     2011-01-01 04:00:00   1    0    0   1   9.84  14.395  75   0.0000  2011
...                   ...  ..  ...  ...  ..    ...     ...  ..      ...   ...
10881 2012-12-19 19:00:00   4    0    1   1  15.58  19.695  50  26.0027  2012
10882 2012-12-19 20:00:00   4    0    1   1  14.76  17.425  57  15.0013  2012
10883 2012-12-19 21:00:00   4    0    1   1  13.94  15.910  61  15.0013  2012
10884 2012-12-19 22:00:00   4    0    1   1  13.94  17.425  61   6.0032  2012
10885 2012-12-19 23:00:00   4    0    1   1  13.12  16.665  66   8.9981  2012

       month  day  hour  dayofweek          datetime  count
0          1    1     0          5   2011-01-01 0:00     16
1          1    1     1          5   2011-01-01 1:00     40
2          1    1     2          5   2011-01-01 2:00     32
3          1    1     3          5   2011-01-01 3:00     13
4          1    1     4          5   2011-01-01 4:00      1
...      ...  ...   ...        ...               ...    ...
10881     12   19    19          2  2012-12-19 19:00    336
10882     12   19    20          2  2012-12-19 20:00    241
10883     12   19    21          2  2012-12-19 21:00    168
10884     12   19    22          2  2012-12-19 22:00    129
10885     12   19    23          2  2012-12-19 23:00     88

[10886 rows x 16 columns]

In [261]:
print(data2.groupby(['year'])['count'].sum())

year
2011     781979
2012    1303497
Name: count, dtype: int64

In [262]:
print(data2.groupby(['month'])['count'].sum())

month
1      79884
2      99113
3     133501
4     167402
5     200147
6     220733
7     214617
8     213516
9     212529
10    207434
11    176440
12    160160
Name: count, dtype: int64

In [264]:
print(data2.groupby(['day'])['count'].sum())

day
1     103692
2     105381
3     111561
4     112335
5     109115
6     108600
7     105486
8     102770
9     108041
10    111645
11    111146
12    109257
13    111448
14    112406
15    115677
16    109837
17    118255
18    108437
19    110387
Name: count, dtype: int64

In [266]:
print(data2.groupby(['hour'])['count'].sum())

hour
0      25088
1      15372
2      10259
3       5091
4       2832
5       8935
6      34698
7      96968
8     165060
9     100910
10     79667
11     95857
12    116968
13    117551
14    111010
15    115960
16    144266
17    213757
18    196472
19    143767
20    104204
21     79057
22     60911
23     40816
Name: count, dtype: int64

In [265]:
print(data2.groupby(['dayofweek'])['count'].sum())

dayofweek
0    295296
1    291985
2    292226
3    306401
4    302504
5    311518
6    285546
Name: count, dtype: int64

In [268]:
x_train.drop(columns=['month','day','dayofweek'],inplace=True)

In [269]:
x_test['datetime'] = pd.to_datetime(x_test['datetime'])

In [270]:
x_test['year'] = x_test['datetime'].dt.year

In [271]:
x_test['hour'] = x_test['datetime'].dt.hour

In [272]:
x_test_datetime = x_test['datetime']

In [274]:
x_train.drop(columns=['datetime'],inplace=True)

In [275]:
x_test.drop(columns=['datetime'],inplace=True)

In [276]:
y_train.drop(columns=['datetime'],inplace=True)

In [277]:
from sklearn.model_selection import train_test_split

In [278]:
x_train,x_val,y_train,y_val = train_test_split(x_train,y_train,test_size=0.2)

In [280]:
print(x_train.shape,x_val.shape)

(8708, 10) (2178, 10)

In [281]:
from xgboost import XGBRegressor

In [282]:
model = XGBRegressor(n_estimate=100,max_depth=3)

In [283]:
model.fit(x_train,y_train)

[07:12:58] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(n_estimate=100)

In [284]:
model2 = XGBRegressor(n_estimate=200,max_depth=5)

In [285]:
model2.fit(x_train,y_train)

[07:15:18] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(max_depth=5, n_estimate=200)

In [291]:
from sklearn.metrics import r2_score

In [292]:
y_val_predicted = pd.DataFrame(model.predict(x_val))

In [293]:
print(y_val_predicted)

               0
0     179.681488
1     511.443726
2     159.493896
3     245.447266
4      28.399582
...          ...
2173  101.128723
2174  309.552002
2175   95.942520
2176   36.543449
2177   27.771383

[2178 rows x 1 columns]

In [295]:
y_val_predicted.rename(columns={0:'count'},inplace=True)

In [297]:
print(y_val_predicted)

           count
0     179.681488
1     511.443726
2     159.493896
3     245.447266
4      28.399582
...          ...
2173  101.128723
2174  309.552002
2175   95.942520
2176   36.543449
2177   27.771383

[2178 rows x 1 columns]

In [298]:
y_val_predicted[y_val_predicted['count']<0]=0

In [299]:
y_val_predicted2 = pd.DataFrame(model2.predict(x_val)).rename(columns={0:'count'})

In [300]:
y_val_predicted2[y_val_predicted2['count']<0]=0

In [301]:
print(r2_score(y_val,y_val_predicted))

0.848554739891263

In [302]:
print(r2_score(y_val,y_val_predicted2))

0.9266232938403711

In [303]:
y_test_predicted = pd.DataFrame(model2.predict(x_test)).rename(columns={0:'count'})

In [304]:
y_test_predicted[y_test_predicted['count']<0]=0

In [305]:
final = pd.concat([x_test_datetime,y_test_predicted],axis=1)

In [306]:
print(final)

                datetime       count
0    2011-01-20 00:00:00    4.928197
1    2011-01-20 01:00:00    0.000000
2    2011-01-20 02:00:00    0.000000
3    2011-01-20 03:00:00    0.000000
4    2011-01-20 04:00:00    0.000000
...                  ...         ...
6488 2012-12-31 19:00:00  219.632874
6489 2012-12-31 20:00:00  145.346939
6490 2012-12-31 21:00:00  127.952789
6491 2012-12-31 22:00:00   93.256271
6492 2012-12-31 23:00:00   54.683910

[6493 rows x 2 columns]

In [307]:
final.to_csv('12345.csv',index=False)

In [308]:
final = pd.read_csv('12345.csv')

In [309]:
print(final)

                 datetime       count
0     2011-01-20 00:00:00    4.928197
1     2011-01-20 01:00:00    0.000000
2     2011-01-20 02:00:00    0.000000
3     2011-01-20 03:00:00    0.000000
4     2011-01-20 04:00:00    0.000000
...                   ...         ...
6488  2012-12-31 19:00:00  219.632870
6489  2012-12-31 20:00:00  145.346940
6490  2012-12-31 21:00:00  127.952790
6491  2012-12-31 22:00:00   93.256270
6492  2012-12-31 23:00:00   54.683910

[6493 rows x 2 columns]