In [63]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv")


# display(x_train.head())
# display(y_train.head())
x_test_id = x_test.StudentID

# print(y_train.G3.value_counts())

# print(x_train.info())

from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

def LE(x):
  x_train[f'{x}'] = encoder.fit_transform(x_train[f'{x}'])
  x_test[f'{x}'] = encoder.transform(x_test[f'{x}'])

LE('school')
LE('sex')
LE('address')
LE('famsize')
LE('Pstatus')
LE('Mjob')
LE('Fjob')
LE('reason')
LE('guardian')
LE('schoolsup')
LE('famsup')
LE('paid')
LE('activities')
LE('nursery')
LE('higher')
LE('internet')
LE('romantic')

# print(x_train.info())
# print(x_test.info())
# print(x_train.columns)

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
x_train,x_val,y_train,y_val = train_test_split(x_train,y_train,test_size=0.2)
model = RandomForestRegressor(n_estimators=2000,max_depth=15)
model.fit(x_train,y_train.G3)
y_train_predicted = model.predict(x_train)
y_val_predicted = model.predict(x_val)
print(r2_score(y_train_predicted,y_train.G3))
print(r2_score(y_val_predicted,y_val.G3))

result1 = pd.DataFrame(model.predict(x_test),columns=['G3'])
final1 = pd.concat([x_test_id,result1],axis=1)
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_test.csv')
print(r2_score(result1,y_test.G3))

X_train = pd.concat([x_train,x_val],axis=0)
Y_train = pd.concat([y_train,y_val],axis=0)
model = RandomForestRegressor(n_estimators=2000,max_depth=15)
model.fit(x_train,y_train.G3)
result2 = pd.DataFrame(model.predict(x_test),columns=['G3'])
final2 = pd.concat([x_test_id,result2],axis=1)
print(r2_score(result2,y_test.G3))
display(final2)
final2.to_csv('12345.csv',index=False)

final2 = pd.read_csv('12345.csv')
display(final2)

0.9769194911988623
0.89378872110841
0.7816059313139945
0.7825438357120182

     StudentID         G3
0         1000  16.435500
1         1008  11.069705
2         1013  14.420500
3         1014   7.116000
4         1017  10.928388
..         ...        ...
361       2032  15.798000
362       2034  12.150125
363       2035  15.995500
364       2036   3.430500
365       2037  14.971000

[366 rows x 2 columns]

     StudentID         G3
0         1000  16.435500
1         1008  11.069705
2         1013  14.420500
3         1014   7.116000
4         1017  10.928387
..         ...        ...
361       2032  15.798000
362       2034  12.150125
363       2035  15.995500
364       2036   3.430500
365       2037  14.971000

[366 rows x 2 columns]