In [49]:
import pandas as pd
x_train = pd.read_csv('/content/train.csv')
x_test = pd.read_csv('/content/test.csv')
# display(x_train.head())
# display(x_test.head())
y_train = x_train.loc[:,['ID','Segmentation']]
x_train = x_train.iloc[:,:-1]
x_test_id = x_test.iloc[:,0]
# display(x_train,y_train)
# print(x_train.info())
# print(x_test.info())
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train.Gender = encoder.fit_transform(x_train.Gender)
x_test.Gender = encoder.transform(x_test.Gender)
x_train.Ever_Married = encoder.fit_transform(x_train.Ever_Married)
x_test.Ever_Married = encoder.transform(x_test.Ever_Married)
x_train.Graduated = encoder.fit_transform(x_train.Graduated)
x_test.Graduated = encoder.transform(x_test.Graduated)
x_train.Profession = encoder.fit_transform(x_train.Profession)
x_test.Profession = encoder.transform(x_test.Profession)
x_train.Spending_Score = encoder.fit_transform(x_train.Spending_Score)
x_test.Spending_Score = encoder.transform(x_test.Spending_Score)
x_train.Var_1 = encoder.fit_transform(x_train.Var_1)
x_test.Var_1 = encoder.transform(x_test.Var_1)
# print(x_train.info(),x_test.info())

from sklearn.model_selection import train_test_split
x_train,x_val,y_train,y_val = train_test_split(x_train,y_train,test_size=0.2)

from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 2000,max_depth = 4)
model.fit(x_train,y_train.iloc[:,1])
y_train_pre = model.predict(x_train)
y_val_pre = model.predict(x_val)

from sklearn.metrics import roc_auc_score,f1_score
display(y_train.iloc[:,1],y_train_pre)
print(f1_score(y_train_pre,y_train.iloc[:,1],average='macro'))
print(f1_score(y_val.iloc[:,1],y_val_pre,average='macro'))
result = pd.DataFrame(model.predict(x_test),columns=['Segmentation'])
final = pd.concat([x_test_id,result],axis=1)
final.to_csv('005001431.csv',index=False)
final = pd.read_csv('005001431.csv')
display(final)

4462    1
4878    2
3254    4
1691    2
4787    1
       ..
5206    4
3955    1
3045    4
1136    1
709     4
Name: Segmentation, Length: 5332, dtype: int64

array([1, 2, 4, ..., 4, 2, 4])

0.5096756977688464
0.5178354830198821

          ID  Segmentation
0     458989             1
1     458994             3
2     459000             2
3     459003             3
4     459005             1
...      ...           ...
2149  467950             1
2150  467954             4
2151  467958             1
2152  467961             3
2153  467968             4

[2154 rows x 2 columns]